{% extends 'User.html' %}
{% load static %}

    <!-- ABOUT -->
    {% block content %}
   
    <style type="text/css">
        .error{
        color: red
        }
    </style>

    <!-- MILESTONE -->
    <section id="milestone">
        <div class="container">
            <div class="row text-center justify-content-center gy-4">
                <h3>Our Verified Advocates</h3>
                <p>The key to providing the full range of service capabilities to our clients requirements</p>
            </div>
        </div>
    </section>

    <div class="col-lg-8">
        <form id="book" action="{% url 'getDataConsult' %}" method="POST" enctype="multipart/form-data" class="p-lg-5 col-12 row g-3">
            {% csrf_token %}
            <!-- <input type="hidden" value="{{request.session.id}}" name="userid"> -->
            <div>
                <h1>Get in touch</h1>
                <p>Describe your case in detail</p>
            </div>
            <div class="col-12">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" class="form-control" placeholder="Enter subject"
                    id="subject" name="subject" aria-describedby="">
            </div>
            <div class="col-12">
                <label for="desc" class="form-label">Query in detail</label>
                <textarea name="desc" class="form-control" placeholder="Enter Query in detail" id="desc" cols="30" rows="10"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-brand">Submit</button>
            </div>
            <p>Our support executive will contact you to help you with the appointment slot</p>
        </form>
    </div>

    <label id="lang[]-error" class="error" for="lang[]"></label>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>

            <script type="text/javascript">
                $('#book').validate({
                rules: {
                subject: {
                required: true,
                minlength: 5
                },
                desc:{
                required:true,
                }
            
                }
               
               
                })
               
               
            </script>

    {% endblock %}