{% extends 'User.html' %}
{% load static %}

    <!-- ABOUT -->
    {% block content %}

    <style type="text/css">
        .error{
        color: red
        }
    </style>

    {% for i in data %}
    <div class="col-lg-8">
        <form id="decline" action="{% url 'decline' id=i.id %}"  method="post" class="p-lg-5 col-12 row g-3">
            {% csrf_token %}
            <div class=>
                <label for="reason" class="form-label">Reason</label>
                <input type="text" class="form-control" placeholder="Enter reason" id="reason" name="reason">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-brand">Submit</button>
            </div>
        </form>
    </div>
    {% endfor %}

    <label id="lang[]-error" class="error" for="lang[]"></label>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>

            <script type="text/javascript">
                $('#decline').validate({
                rules: {
                    reason: {
                required: true,
                minlength: 3
                }
            
                }
               
               
                })
               
               
            </script>

    {% endblock %}