{% extends 'Admin.html' %}
            {% block content %}
            <!--Main-->
            <style type="text/css">
                .error{
                color: red
                }
            </style>

            <main class="bg-white-500 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                    <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                            <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                User Requests
                            </div>
                            <div class="p-3">
                                {% for i in data %}
                                <form id="rejectuser" action="{% url 'RejectUserReq' UDid=i.id %}"  method="post" class="p-lg-5 col-12 row g-3">
                                    {% csrf_token %}
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full px-3">
                                            <label class="form-group"
                                                   for="id">
                                                Reason
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                                   id="reason" name="reason" type="text" placeholder="">
                                        </div>
                                    </div>
                        
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full px-3">
                                            <button type="submit" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--/Grid Form-->
                </div>
            </main>

            <label id="lang[]-error" class="error" for="lang[]"></label>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>

            <script type="text/javascript">
                $('#rejectuser').validate({
                rules: {
                reason: {
                required: true,
                minlength: 2
                }
            
                }
               
               
                })
               
               
            </script>

            <!--/Main-->
            {% endblock %}